@import '~styles/utilities.scss';

.artefact-card {
  background-color: color(grey800);
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  padding-bottom: rem(22px);
  width: 100%;
  min-height: 96px;

  &--current {
    box-shadow: 0 0 0 2px color(grey100);
  }

  &--checked {
    &::before {
      @include icon('check');
      @include set-font-scale('xs');
      color: color(success300);
      width: 18px;
      height: 18px;
      border-radius: 0 0 0 50%;
      background-color: color(grey100);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  img {
    max-height: 64px;
    width: auto;
    max-width: 66px;
  }

  span:last-of-type {
    @include set-font-scale('m');
    color: color(grey900);
    background-color: color(grey100);
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
