@use '~styles/utilities' as *;

.artefact-card {
  background-color: color(grey800);
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  padding-bottom: rem(22px);
  width: 100%;
  min-height: 96px;

  &--current {
    box-shadow: 0 0 0 2px color(grey100);
  }

  &--checked {
    box-shadow: 0 0 0 2px color(common);

    &::before {
      @include icon('check');
      @include set-font-scale('xs');
      color: color(grey100);
      width: 18px;
      height: 18px;
      border-radius: 0 0 0 50%;
      background-color: color(common);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--gradient5 {
    background: color(gradient5);
  }

  &__main {
    display: none;
  }

  img {
    max-height: 64px;
    width: auto;
    max-width: 66px;
  }

  span:last-of-type {
    @include set-font-scale('m');
    color: color(grey900);
    background-color: color(grey100);
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--tiny {
    min-height: 56px;
    padding: 0;
    background: color(gradient5);

    img {
      max-height: 48px;
      max-width: 48px;
    }

    span:last-of-type {
      @include set-font-scale('xxs');
      background: none;
      color: color(grey100);
      font-weight: 600;
      width: auto;
      height: auto;
      top: 2px;
      left: 2px;
      bottom: auto;
      text-shadow: color(grey500) 0 0 5px;
    }

    .artefact-card__main {
      @include set-font-scale('xs');
      display: block;
      color: color(grey100);
      position: absolute;
      bottom: 2px;
      right: 2px;
      text-shadow: color(grey500) 0 0 5px;
    }
  }
}
