@import '~styles/utilities.scss';

.AllWeaponsTab {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);
  list-style: none;
  padding: 0;
  margin: rem(8px) 0;

  &Item {
    flex: 0 0 calc(33.333% - 5.333px);

    &>label {
      width: 100%;
      background-color: color(grey800);
      border-radius: 8px;
      position: relative;
      padding: rem(8px);
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: color(grey700);
      }
    }

    img {
      max-width: 64px;
      max-height: 64px;
      width: auto;
      margin-right: rem(8px);
    }

    span {
      display: block;
    }
  }
}
