@import '~styles/utilities.scss';

.WeaponListView {
  padding: rem(8px) rem(8px) 0;
  max-height: calc(100vh - 30px);
  overflow-y: auto;
}

.WeaponCategory {
  &Header {
    background-color: color(grey800);
    padding: rem(8px);
    margin-bottom: rem(16px);
    width: 100%;
    text-align: left;
    display: block;
  }

  &Type {
    &Header {
      @include set-font-scale('s');
      text-align: left;
      font-weight: 600;
      background-color: color(grey900);
      border: 1px solid color(grey800);
      margin: 0 0 rem(16px);
      width: calc(100% - 8px);
      padding: rem(4px) rem(8px);
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
      gap: rem(8px);
      height: 54px;

      img {
        width: auto;
      }
    }
  }

  &Img {
    max-width: 32px;
    max-height: 32px;
    width: auto;
    margin-right: rem(8px);
  }
}
