@import '~styles/utilities.scss';

.CreateTab {
  display: flex;
  gap: rem(8px);

  &>img {
    width: 157.656px;
    min-height: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .Build {
    flex: 1;
    display: grid;
    grid-template-columns: auto 269px;
    grid-template-rows: 56px auto;
    gap: rem(8px);
    grid-row: 2;
    grid-column: 2;

    &CharacterSelect {
      grid-column: 1 / span 2;
    }

    &PresetSelect {
      margin-bottom: rem(8px);
    }

    &ArtefactPreset {
      grid-column: 1;
      grid-row: 2;
      flex-direction: column;

      .m-form-fieldset__legend {
        padding: 0;

        .m-form-select {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }

    &ArtefactCard {
      grid-column: 2;
      grid-row: 2;
      width: 100%;
    }

    &Weapon {
      @include set-font-scale('s');
      display: flex;
      gap: rem(8px);

      &Img {
        max-width: 64px;
        max-height: 64px;
        width: auto;
      }

      &Infos {
        display: flex;
        flex-wrap: wrap;

        span {
          display: block;
          flex: 0 0 100%;

          &:first-of-type {
            font-weight: 600;
          }

          &:not(:first-of-type) {
            @include set-font-scale('xs');
          }
        }
      }

      &>div {
        background-color: color(grey800);
        border-radius: 8px;
        padding: rem(8px);

        &:first-of-type {
          min-width: 85px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:last-of-type {
          flex: 1;
        }
      }
    }

    &Buttons {
      margin-top: rem(8px);
    }

    &Name {
      width: 100%;
    }
  }

  .Option {
    display: flex;
    gap: rem(8px);
    align-items: center;
    width: 100%;

    &--Weapon {
      img {
        width: auto;
        max-width: 48px;
        max-height: 48px;
      }
  
      &>div {
        text-align: left;
      }
    }

    &--ArtefactPreset {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: rem(4px);
        flex: 1;
        justify-content: flex-end;
      }

      li>img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }
}
