@import '~styles/utilities.scss';

.CharacterBuildsView {
  padding: rem(8px);
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  &>.PanelMenu {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}
