@import '~scss/utilities.scss';

.AppMenu {
  display: flex;
  flex-direction: column;
  background-color: lighten(color(primary), 10.76);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      width: 60px;
      height: 60px;
      padding: 4px;
      overflow: hidden;
    }
  }

  &Link {
    @include font-size(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: lighten(color(primary), 22.74);
    border-radius: 12px;
    text-decoration: none;

    &.router-link-exact-active {
      background-color: color(focus);
    }
  
    img {
      width: 20px;
      margin-bottom: 4px;
    }
  }
}
