@import '~scss/utilities.scss';

.AppMenu {
  display: flex;
  flex-direction: column;
  background-color: lighten(color(primary), 10.76);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      width: 60px;
      height: 60px;
      padding: 8px;
      overflow: hidden;
    }
  }
}
