body {
  @include font-family('Open Sans');
  font-size: 16px;
}

[class^="icon-"],
[class*=" icon-"],
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ICONS */
@each $iconName, $iconData in $icons {
  .icon-#{$iconName}:before {
    content: nth($iconData, 2);
    font-family: nth($iconData, 1) !important;
  }
}

[class^="icon-anemo"] {
  color: color(anemo);
}

[class^="icon-pyro"] {
  color: color(pyro);
}

[class^="icon-hydro"] {
  color: color(hydro);
}

[class^="icon-cryo"] {
  color: color(cryo);
}

[class^="icon-electro"] {
  color: color(electro);
}

[class^="icon-geo"] {
  color: color(geo);
}

[class^="icon-dendro"] {
  color: color(dendro);
}

