@use '~styles/utilities' as *;

.AppMenu {
  display: flex;
  flex-direction: column;
  background-color: color(grey800);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 60px;
      height: 60px;
      padding: rem(4px);
      overflow: hidden;
    }
  }

  &Link {
    @include set-font-scale('xs');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: rem(2px);
    background-color: color(grey700);
    border-radius: 12px;
    text-decoration: none;

    &.router-link-exact-active {
      background-color: color(grey600);
    }

    img {
      width: 20px;
      margin-bottom: rem(4px);
    }
  }
}
