@import '~styles/utilities.scss';

.PresetsTab {
  padding-top: rem(8px);
  height: calc(100% - 30px);
  display: grid;
  grid-template-columns: 70% 30%;
  gap: rem(8px);

  &List {
    list-style: none;
    padding: 0 rem(8px) rem(8px) 0;
    margin: 0;
    display: flex;
    gap: rem(8px);
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    grid-column: 1;

    &Item {
      flex: 0 0 100%;

      .m-form-fieldset {
        margin-bottom: 0;
      }
    }
  }

  &Card {
    grid-row: 1;
  }

  &Buttons {
    display: flex;
    justify-content: flex-end;
    gap: rem(8px);
  }

  .m-form-input input {
    background-color: color(grey700);
  }

  .m-form-fieldset__legend {
    display: flex;
    justify-content: space-between;
  }
}
