@use '~styles/utilities' as *;

.MainView {
  padding: 0 8px;

  .BossTitle {
    @include set-font-scale('m');
    @include font-family('open-sans', 600);
    background-color: color(grey800);
    margin: rem(16px) rem(4px) 0;
    width: calc(100% - 8px);
    padding: rem(12px) rem(8px);
    letter-spacing: .1rem;

    span {
      @include set-font-scale('m');
      letter-spacing: normal;
    }
  }

  &Filters {
    margin-top: rem(16px);
    margin-bottom: rem(16px);
  }

  .CharacterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: rem(16px) 0 0;
    padding: 0;
    list-style: none;
  }
}
