@use '~styles/utilities' as *;

.artefact-transmuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(8px);
  background-color: color(grey900);
  overflow: hidden;

  &__form {
    display: flex;
    gap: rem(8px);
    height: 100%;
  }

  &__sets {
    margin: 0;
    padding: 0 rem(8px) 0 0;
    list-style: none;
    max-height: 100%;
    overflow-y: auto;
    flex: 0 0 calc(35% - 4px);

    &-item {
      padding: rem(2px);
    }
  }

  &__editor {
    flex: 0 0 calc(65% - 4px);
  }

  &__preview {
    background: color(gradient5);
    margin: rem(8px) 0;
    padding: rem(8px);
    display: flex;
    justify-content: space-between;

    [class^="icon"]::before {
      display: inline-block;
      margin-right: rem(4px);
    }

    .artefact-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-weight: 700;

      span {
        display: block;
        font-weight: 400;

        &:last-of-type {
          color: color(warning100);
        }
      }
    }

    .artefact-preview {
      width: auto;
      height: 64px;
    }
  }

  &__type-selector {
    .PanelMenu {
      margin-bottom: rem(8px);
    }

    .PanelMenuButton {
      @include set-font-scale('xl');
      color: color(grey100);

      &:focus,
      &.PanelMenuButton--selected {
        color: color(grey900);
      }
    }
  }

  &__submit-area {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: calc(65% - 4px);
  }
}
