@import '~styles/utilities.scss';

.artefact-preset {
  &__buttons {
    display: flex;
    gap: rem(8px);
    justify-content: flex-end;
  }

  .m-form-input input {
    background-color: color(grey700);
  }

  .m-form-fieldset__legend {
    display: flex;
    justify-content: space-between;
  }
}

#presetDestroyModal {
  width: 35%;
}
