@import '~styles/utilities.scss';

.character-build-stats {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: color(grey800);
    padding: rem(4px) rem(8px);

    &:nth-child(2n) {
      background-color: lighten(color(grey800), 5);
    }
  }
}
