@import '~styles/utilities.scss';

.ArtefactSubStat {
  @include set-font-scale('s');
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: rem(16px);
  font-weight: 600;

  &::before {
    content: '';
    transform: rotate(45deg);
    border-top: 2px solid color(grey000);
    border-right: 2px solid color(grey000);
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  &--expanded {
    padding-bottom: rem(4px);
    padding-top: rem(4px);
    background-color: color(grey700);

    &::before {
      transform: rotate(135deg);
      top: 8px;
      left: 4px;
    }
  }

  &Bar {
    width: 75%;
    height: 12px;
  }

  &Infos {
    @include set-font-scale('xxs');
    font-weight: 400;
  }
}
