@import '~styles/utilities.scss';

.ArtefactSubStat {
  @include set-font-scale('s');
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  display: flex;
  padding: rem(2px) 0;

  &Value {
    flex: 1;
  }

  &Bar {
    width: 75%;
    height: 12px;
  }

  &Infos {
    @include set-font-scale('xxs');
    font-weight: 400;
  }
}
