@import '~styles/utilities.scss';

.BossMaterial {
  padding: 0 rem(4px);

  .Element {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: rem(4px);

    &.icon-anemo {
      color: color(anemo);
    }

    &.icon-geo {
      color: color(geo);
    }

    &.icon-electro {
      color: color(electro);
    }

    &.icon-hydro {
      color: color(hydro);
    }

    &.icon-pyro {
      color: color(pyro);
    }

    &.icon-cryo {
      color: color(cryo);
    }

    &.icon-dendro {
      color: color(dendro);
    }
  }

  .Bonus input {
    color: color(warning300);
  }

  &Title {
    @include set-font-scale('m');
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: rem(16px) 0 rem(8px);
    padding-right: rem(8px);
    width: 100%;
    border: 1px solid color(grey800);
    padding: rem(8px) rem(4px);

    span {
      display: flex;
      align-items: center;
    }

    .m-form-input__container {
      flex-direction: row-reverse;
      align-items: center;

      @include make-accessibility-shadow {
        height: 32px;
        bottom: 0;
        top: auto;
        left: auto;
        width: 60px;
      }

      input {
        width: 60px;
        margin-left: rem(4px);
      }
    }
  }

  &Img {
    width: auto;
    height: auto;
    display: block;
    margin-right: rem(8px);
  }

  &Column {
    &--Aptitude {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &InventoryInput.m-form-input--default {
    @include make-accessibility-shadow {
      top: 0;
      bottom: auto;
      right: 0;
      left: auto;
      width: 60px;
    }
  }
}
