@import '~scss/utilities.scss';

.BossMaterial {
  padding: 0 4px;

  .Element {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
  }

  .Bonus input {
    color: color(warning);
  }

  &Title {
    @include font-size(18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 8px;
    padding-right: 8px;
    width: 100%;
    border: 1px solid lighten(color(primary), 11.74);
    padding: 8px 4px;

    span {
      display: flex;
      align-items: center;
    }

    .FormInput {
      flex-direction: row-reverse;
      align-items: center;

      @include make-accessibility {
        height: 32px;
        bottom: 0;
        top: auto;
        left: auto;
        width: 60px;
      }

      input {
        width: 60px;
        margin-left: 4px;
      }
    }
  }

  &Img {
    width: auto;
    height: auto;
    display: block;
    margin-right: 8px;
  }

  &Column {
    &--Aptitude {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}
