@import '~styles/utilities.scss';

.Filters {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.Filters--Simple) {
    padding: 16px;
    background-color: rgba(color(grey000), .05);
    border-radius: 16px;
  }

  &--Simple {
    .FiltersElementList {
      justify-content: center;
    }
  }

  &ElementList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &Element {
    border: 1px solid color(grey800);
    border-radius: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: rem(8px);
    }

    img {
      width: 24px;
      filter: grayscale(1);
    }

    &--Active {
      background-color: color(grey800);
      border-color: color(grey000);

      img {
        filter: none;
      }
    }
  }
}
